---
---

@import "{{ site.theme }}";

header { background: #A6682D; }

header h1 { color: #fafafa; text-shadow: #784B20 0 1px 0; }

header p { color: #fafafa; }

header ul { background: #fafafa; height: 24px; }

header ul li { border-right: 1px solid #555; height: 24px; }

header ul a strong { color: #555; }
