---
---

@import "{{ site.theme }}";

body {
    font-family: OpenSansLight, Hevetica Neue, Helvetica;
    font-size: 18px;
}

.wrapper {
    max-width: 1024px;
    width: unset;
}

code {
    font-family: SourceCodePro, Hack, Monospace, Lucidia Console, Terminal;
    font-size: 14px;
}

section {
    font-size: 17px;
    border: 2px;
    border-style: solid;
    border-color: #316D83;
}

header {
    background: #d25555;
    border: 2px;
    border-style: solid;
    border-color: #891212
}

header h1 {
    font-family: serif;
    line-height: 150%;
    text-align: left;
    color: #000;
    text-shadow: #891212 0 1px 0;
    font-weight: lighter;
}

header p { color: #000; }

header a { font-size: 16px; padding: 7px; color: #000; }

li { padding: 3px; }
